body {
    text-align: center;
}

.game-over-modal-cont {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 204, 116);
    font-size: 2rem;
}